.admin-gallery-photo{
    width: 200px;
    height: auto;
}
.MuiButtonBase-root{
    width:100px;
}
.pagination-buttons-admin-gallery{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    
}