.gallery-title{
    margin-left: 2%;
}
.gallery {
background-color: rgb(247, 247, 252);
}
.art{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination-buttons{
    display: flex;
    justify-content: center;
}

.numbered-buttons{
    width: 50px;
    height: 27px;
}